# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.IsleofCirca2.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ian\RiderProjects\IsleofCirca2\.idea\.idea.IsleofCirca2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
